<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472441506735-tt9mreuns39nf6om0dj7qh8nat0fphed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472441506735-tt9mreuns39nf6om0dj7qh8nat0fphed</string>
	<key>API_KEY</key>
	<string>AIzaSyAJHUWmF43nmrX5yjuXR1A4E68YcFF0QW0</string>
	<key>GCM_SENDER_ID</key>
	<string>472441506735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clientApp</string>
	<key>PROJECT_ID</key>
	<string>filespace-db4e7</string>
	<key>STORAGE_BUCKET</key>
	<string>filespace-db4e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472441506735:ios:f7b9793d32d83ce3857d5a</string>
	<key>DATABASE_URL</key>
	<string>https://filespace-db4e7-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>